#pomodoro__wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flexbox;
  align-items: center;
  justify-content: center;
  width: 60vh;
}

.sprite {
  height: 30vh;
  image-rendering: pixelated;
}

#timer__wrapper {
  font-size: 4rem;
  text-align: center;
}

#message__wrapper {
  font-size: 1rem;
  text-align: center;
}

/* filler